# Sales Analysis

#### Import libraries

In [19]:
import pandas as pd
import os
import numpy as np

#### 1. Merging 12 months of sales data into a single file

In [3]:
##df = pd.read_csv("./Sales_Data/Sales_April_2019.csv")
files = [file for file in os.listdir("./Sales_Data")]

merged_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("./Sales_Data/"+file)
    merged_data = pd.concat([merged_data, df])

#### Checking for correctness of merging

In [4]:
df1 = merged_data.copy()
df1['Order Date'] = pd.to_datetime(df1['Order Date'], errors='coerce')
merged_data.to_csv("all_data.csv", index=False)

In [5]:
specific_date = df.loc[(df['Order Date'] >= "06/01/19 00:00")]
specific_date

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"
...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

#### Cleaning up the data

In [34]:
cleaned_df1 = df1.dropna()

#### Find the month with the best sales

In [88]:
# add the sales column (quantity * price each)
# cleaned_df1['Full Price'] = cleaned_df1['Quantity Ordered'].astype('float32') * cleaned_df1['Price Each'].astype('float32')
# cleaned_df1

cleaned_df1['Quantity Ordered'] = pd.to_numeric(cleaned_df1['Quantity Ordered'])
cleaned_df1['Price Each'] = pd.to_numeric(cleaned_df1['Price Each'])

cleaned_df1['Full Price'] = cleaned_df1['Quantity Ordered'] * cleaned_df1['Price Each']

cleaned_df1['Month'] = pd.DatetimeIndex(cleaned_df1['Order Date']).month
cleaned_df1.groupby('Month').sum()['Full Price']

C:\Users\tomek\AppData\Local\Temp\ipykernel_10344\1663071445.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df1['Quantity Ordered'] = pd.to_numeric(cleaned_df1['Quantity Ordered'])
C:\Users\tomek\AppData\Local\Temp\ipykernel_10344\1663071445.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df1['Price Each'] = pd.to_numeric(cleaned_df1['Price Each'])
C:\Users\tomek\AppData\Local\Temp\ipykernel_10344\1663071445.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df1['Full Price'] = cleaned_df1['Quantity Ordered'] * cleaned_df1['Price Each']
C:\Users\tomek\AppData\Local\Temp\ipykernel_10344\1663071445.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df1['Month'] = pd.DatetimeIndex(cleaned_df1['Order Date']).month
C:\Users\tomek\AppData\Local\Temp\ipykernel_10344\1663071445.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cleaned_df1.groupby('Month').sum()['Full Price']

Month
1     1822256.73
2     2202022.42
3     2807100.38
4     3390670.24
5     3152606.75
6     2577802.26
7     2647775.76
8     2244467.88
9     2097560.13
10    3736726.88
11    3199603.20
12    4613443.34
Name: Full Price, dtype: float64